* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: cadetblue;
}
.wrapper {
  width: 1200px;
  margin: auto;
  position: relative;
}

img {
  height: 200px;
  padding-left: 10%;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(30, 180, 180, 0.702);
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: -webkit-sticky;
  top: 0;
  background: salmon;
  z-index: 1;
  border-bottom: 1px solid darkcyan;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 26px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  columns: #364f6b;
}

h2 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(17, 145, 139);
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #b41286;
  text-decoration: none;
}

a.tbl-gren {
  background: #0ff0e4;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-gren:hover {
  background: #3f72af;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.sidebar {
  width: 400px;
  float: right;
}

.recent-article {
  padding-left: 200px;
  padding-right: 0px;
}

.recent-article h2 {
  font-family: 'comic sans ms';
  font-size: 30px;
}
.recent-article ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }
}
